# SPDX-License-Identifier: LGPL-2.1-or-later
mkosi.local/
mkosi.local.conf
output/
mkosi.cache/
mkosi.tools/
mkosi.tools.manifest
mkosi.key
mkosi.crt
.mkosi-private
.envrc
mkosi.images/base/mkosi.extra/usr/share/homebrew.tar.zst
mkosi.profiles/snow/mkosi.extra/usr/share/homebrew.tar.zst
shared/snow/tree/usr/share/homebrew.tar.zst
shared/snow/tree/usr/share/gnome-shell/extensions/hotedge@jonathan.jdoda.ca
shared/snow/tree/usr/share/gnome-shell/extensions/logomenu@aryan_k