name: SNOW Push Build

env:
  GH_TOKEN: ${{ github.token }}
  RELEASEURL: "https://github.com/${{ github.repository }}/releases/download"

on:
  push:
    branches:
      - "main"
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
# Needed to allow creating a release
permissions:
  contents: write

# Prevent multiple workflow runs from racing to ensure that pushes are made
# sequentialy for the main branch. Also cancel in progress workflow runs.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build:
    name: Snosi Desktop
    runs-on: ubuntu-24.04
    steps:
      - name: install git
        run: |
          sudo apt-get update && sudo apt-get install -y git-core jq
      - name: setup-mkosi
        uses: systemd/mkosi@v26
      - uses: oras-project/setup-oras@v1
      - run: oras version
      - name: checkout repo
        uses: actions/checkout@main

      - name: build
        run: |
          PATH=/usr/sbin:$PATH mkosi build -ff
